main {
  display: grid;
  justify-content: center;
  height: 100vh;
}

section {
  display: grid;
  align-self: center;
  max-width: 950px;
  height: 550px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.card {
  display: flex;
  flex-direction: column;
  padding: 1.5em 2em;
}

.card:nth-child(1) {
  background-color: hsl(31, 77%, 52%);
  color: white;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.card:nth-child(1) button {
  color: hsl(31, 77%, 52%);
}

.card:nth-child(1) button:hover {
  color: hsl(0, 0%, 95%);
}

.card:nth-child(2) {
  background-color: hsl(184, 100%, 22%);
  color: white;
}

.card:nth-child(2) button {
  color: hsl(184, 100%, 22%);
}

.card:nth-child(2) button:hover {
  color: hsl(0, 0%, 95%);
}

.card:nth-child(3) {
  background-color: hsl(179, 100%, 13%);
  color: white;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.card:nth-child(3) button {
  color: hsl(179, 100%, 13%);
}

.card:nth-child(3) button:hover {
  color: hsl(0, 0%, 95%);
}

.card h3 {
  font-family: "Big Shoulders Display", cursive;
  justify-content: left;
  font-size: 2em;
  margin-bottom: 30px;
}

.card p {
  font-family: "Lexend Deca", sans-serif;
  line-height: 2;
  color: hsla(0, 0%, 100%, 0.75);
  margin-bottom: 30px;
}

button {
  background-color: hsl(0, 0%, 95%);
  width: 100px;
  padding: 11px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  margin-top: auto;
}

button:hover {
  background-color: transparent;
  border: white 1px solid;
}

img {
  margin: 30px 0px;
}

.attribution {
  align-self: end;
  padding: 30px;
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media screen and (max-width: 799px) {
  main {
    min-height: max-content;
  }
  section {
    grid-template-columns: 90%;
    margin: 0px 50px;
  }

  .card:nth-child(1) {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 0px;
  }

  .card:nth-child(3) {
    border-top-right-radius: 0px;
    border-bottom-left-radius: 8px;
  }
}
